<div class="login-container">
  <div class="login-content">
    <div class="login-image">
      <img src="logo.jpg" alt="Store Background" />
    </div>

    <div class="login-form">
      <h2>Welcome Back!</h2>
      <p>Login to your account</p>

      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required />
        </div>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> <!-- Message d'erreur -->

        <button type="submit" class="btn login-btn">Login</button>
      </form>

      <div class="signup-link">
        <p>Don't have an account? <a routerLink="/register">Sign up</a></p> <!-- Utiliser routerLink -->
      </div>
    </div>
  </div>
</div>